.container#buttons
  .row
    .column
      button#throwbutton Throw
    .column
      button#reset.btn Reset
  
.container
  .row
    .column
      div#mainChingContainer
      small#mainChingDescription
    .column
      div#evolvedChingContainer
      small#evolvedChingDescription
  